src/main/resources/FeepResource/scheme/Feep-SCANNER-1.0.xsd

<?xml version="1.0" encoding= "UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.feep.com/schema" targetNamespace="http://www.feep.com/schema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="FEEP-SCANNER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Annotation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="package" type="xsd:string"
								minOccurs="1" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>